#transaction1 {
    display: flex;
    flex-direction: column;
    margin-left: 15.5rem;
    padding-top: 5rem;
    padding-left: 5rem;
    gap: 3rem;
    width: 100vw;
    align-items: flex-start;
    margin-bottom: 5rem;
}

#transaction1 .trans-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70.1875rem;
    padding: 1.25rem 0rem;
    border-bottom: 1px solid rgba(108, 117, 125, 0.50);
}

#transaction1 .trans-head h4 {
    color: #000;
    font-family: Open Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#transaction1 .trans-head input {
    width: 23.5rem;
    padding: 1rem;
    padding-left: 3rem;
    flex-shrink: 0;
    background: none;
    border-radius: 0.625rem;
    border: 1px solid var(--Grey, #6C757D);
}

#transaction1 .trans-head .month-statement {
    color: var(--Button-colour, #C30);
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#search-icon {
    position: absolute;
    z-index: -5;
    margin-left: 1rem;
    margin-top: 1rem;
}

#transaction1 .trans-box1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    width: 67.1875rem;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 17px 20px 0px rgba(99, 122, 122, 0.05);
}

#transaction1 .trans-box1 .box-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 67.1875rem;
}

#transaction1 .trans-box1 .box-head .all-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#transaction1 .trans-box1 .box-head .all-links .current-link {
    display: flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #C30;
    border-bottom: 1px solid var(--Bg-colour, #C30);
}

#transaction1 .trans-box1 .box-head .all-links a {
    color: var(--Grey, #6C757D);
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#transaction1 .trans-box1 .box-head .print-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#transaction1 .trans-box1 .filter-options {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: left;
}

#transaction1 .trans-box1 .filter-options input, select {
    width: 10.375rem;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.625rem;
    border: 1px solid var(--Grey, #6C757D);
}

#transaction1 .trans-box1 .filter-options .clear {
    color: var(--Button-colour, #C30);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
}

#transaction1 .trans-box1 .filter-options button {
    background: none;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    color: var(--Button-colour, #C30);
}

#transaction1 .trans-box1 .list-sec {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
} 

#transaction1 .trans-box1 .list-sec .list-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 67.1875rem;
}

.trans-box1 .list-sec .list-head .name {
    color: var(--Grey, #6C757D);
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 11rem;
}
.trans-box1 .list-sec .list-head .des {
    color: var(--Grey, #6C757D);
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 12rem;
}
.trans-box1 .list-sec .list-head .trans {
    color: var(--Grey, #6C757D);
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 9rem;
}
.trans-box1 .list-sec .list-head .date {
    color: var(--Grey, #6C757D);
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 9rem;
}
.trans-box1 .list-sec .list-head .status {
    color: var(--Grey, #6C757D);
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 9rem;
}
.trans-box1 .list-sec .list-head .amount {
    color: var(--Grey, #6C757D);
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 9rem;
    display: flex;
    align-items: flex-end;
}



.trans-box1 .list-sec .trans-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trans-box1 .list-sec .trans-details .list-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 67.1875rem;
    padding: 1rem 0rem;
    border-top: 1px solid rgba(108, 117, 125, 0.10);
}

.trans-box1 .list-sec .trans-details .list-head .name {
    color: #000;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 11rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
}
.trans-box1 .list-sec .trans-details .list-head .des {
    color: #000;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 12rem;
}
.trans-box1 .list-sec .trans-details .list-head .trans {
    color: #000;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 9rem;
}
.trans-box1 .list-sec .trans-details .list-head .date {
    color: #000;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 9rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
}
.trans-box1 .list-sec .trans-details .list-head .status {
    color: #000;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 9rem;
}
.trans-box1 .list-sec .trans-details .list-head .amount {
    color: #000;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 9rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-end;
}

.trans-details .list-head .amount .settle-and-cancel {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.trans-details .list-head .amount .settle-and-cancel .settle-btn {
    display: flex;
    color: #FFF;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 0.625rem;
    background: #009A49;
}

.list-head .amount .settle-and-cancel .settle-btn:hover {
    background-color: #000;
}

.trans-details .list-head .amount .settle-and-cancel .cancel-btn {
    display: flex;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 0.625rem;
    border: 1px solid #000;
    background: none;
}

.trans-details .list-head .amount .settle-and-cancel .cancel-btn:hover {
    background-color: #C30;
    color: #FFF;
    border: none;
}

.trans-box1 .page-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    gap: 1rem;
    width: 67.1875rem;
}

.trans-box1 .page-buttons .current-page {
    display: flex;
    padding: 0.625rem;
    color: #FFF;
    height: 1rem;
    width: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: var(--Button-colour, #C30);
}
.trans-box1 .page-buttons .page {
    display: flex;
    padding: 0.625rem;
    color: #000;
    height: 1rem;
    width: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
}

.trans-box1 .page-buttons .page:hover {
   background: var(--Button-colour, #C30);
   color: #FFF; 
}